<style>
  .ngdialog.dialogcaseeditor .ngdialog-content
  {
    width : 400px;
    height: auto;
    margin-top:-150px;
    padding-top:10px;
    background: #fff;
    border: 1px solid grey;
    /* for IE */
    filter:alpha(opacity=92);
    /* CSS3 standard */
    opacity:0.92;
  }
</style>
<div class="am-g">
  <legend><span class="am-text-primary am-text-sm">填写工厂发货信息,订单已生产完毕,从工厂出库</span></legend>

  <table class="am-table am-table-striped am-table-hover">
    <thead>
    <tr>
      <th style="width: 100px;"></th>
      <th style="width: 100px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>快递公司:</td>
      <td>
        <select class="form-control am-form-field" style="font-size: smaller" ng-model="formData.company">
          <option ng-selected="company === formData.company"
                  ng-repeat="company in EXPRESS_COM"
                  value="{{company}}">
            {{company}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>快递单号:</td>
      <td>
        <input type="text" ng-model="formData.expressNumber" class="am-form-field" />
      </td>
    </tr>
    <tr>
      <td>实际交货日:</td>
      <td>
        <input type="text" ng-model="formData.deliveryDate" class="am-form-field deliveryDate" />
      </td>
    </tr>
    <tr>
      <td>备注:</td>
      <td>
        <textarea type="text" ng-model="formData.remark" class="am-form-field"></textarea>
      </td>
    </tr>
    </tbody>
  </table>

  <legend></legend>

  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">取消</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="validate() && confirm(formData)">确认</button>
  </div>
</div>
