<style>
  .fabric-detail-padding {
    padding: 40px;
  }
  .more-button {
    margin-top: 10px;
  }
  .subOrder td {
    font-size: smaller;
    font-style: italic;
  }
</style>
<div class="admin-content">

  <div class="am-g am-u-sm-12">
    <div class="am-u-sm-6">
      <ol class="am-breadcrumb">
        <li><a ui-sref="provider.orderManage.myOrderManage()">面料到货管理</a></li>
        <li class="am-active">{{FABRIC_RECEIVE_STATUS[STATUS]}}</li>
      </ol>
    </div>
    <div class="am-u-sm-6  more-button">
      <article class="am-article am-u-sm-10">
        <div class="am-article-bd">
          <p class="am-article-lead am-text-secondary" ng-if="STATUS !== 'SUCCESS'">你有{{total}}个新订单需要处理, 赶快处理吧。
            <span class="am-icon-smile-o am-text-lg"></span>
          </p>
        </div>
      </article>
    </div>
  </div>


  <div class="am-g fabric-detail-padding" style="margin-top: 40px">
    <div class="am-g" style="margin-top: 10px">
      <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
          <thead>
          <tr>
            <th class="table-title">序号</th>
            <th class="table-title">订单号</th>
            <th class="table-title">定制伙伴</th>
            <th class="table-title">订单简况</th>
            <th class="table-title">下单时间</th>
            <th class="table-title" >发货时间</th>
            <th class="table-title" >快递公司</th>
            <th class="table-title" >快递单号</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="order in orders">
            <td>{{(bigCurrentPage-1)*20 + $index + 1}}</td>
            <td><a href="" ng-click="showOrderDetail(order)">{{order.number}}</a></td>
            <td>{{order.shopName}}</td>
            <td>{{order.subject}}</td>
            <td>{{order.createTime | date: 'yyyy-MM-dd HH:mm'}}</td>
            <td >{{order.express.createTime | date: 'yyyy-MM-dd HH:mm'}}</td>
            <td >{{order.express.company}}</td>
            <td ><a href="" ng-click="queryExpress(order.express)">{{order.express.number}}</a></td>
            <td ng-if="STATUS !== 'SUCCESS'"><a href="" ng-click="receiveFabric(order)"><span class="am-text-primary">确认收货</span></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-10">
        <span class="am-text-secondary am-text-sm" style="margin-left: 5px">*共 {{total}} 条记录</span>
        <div class="am-fr">
          <pagination previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="perPages" ng-change="changeFn('page')"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
