<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar">
    <ul class="am-list admin-sidebar-list">

      <li><a class="am-text-md" href="" ><span class=""></span> <span ng-class="getClass('modifyRepertory')"> 群发消息</span></a></li>
      <li><a class="am-text-md" ui-sref="factory.customShop.cooperationApplication()" ><span class=""></span> <span ng-class="getClass('cooperationApplication')"> 合作申请</span></a></li>

    </ul>
  </div>
  <!-- sidebar end -->

  <!-- content start -->

  <div ui-view></div>

  <!-- content end -->
</div>
