<style>
  .fabric-detail-padding {
    padding: 40px;
  }
</style>
<div class="admin-content">

  <div class="am-g am-u-sm-12">
    <div class="am-u-sm-12">
      <ol class="am-breadcrumb">
        <li><a ui-sref="provider.moreManage.fixPWD()">其他管理</a></li>
        <li class="am-active">修改密码</li>
      </ol>
    </div>
  </div>


  <div class="am-g fabric-detail-padding">
    <legend><span class="am-text-secondary am-text-sm">提示：你可以自己修改登录密码，其他资料的修改需要与客服联系。</span></legend>
    <div class="am-u-sm-6" >
      <form class="am-form am-form-horizontal">
        <div class="am-form-group">
          <label for="doc-ipt-3" class="am-u-sm-4 am-form-label am-text-sm">账号ID:</label>
          <div class="am-u-sm-8">
            <input type="text" id="doc-ipt-3" placeholder="账号ID" ng-model="account.ID"/>
          </div>
        </div>

        <div class="am-form-group">
          <label for="doc-ipt-pwd-3" class="am-u-sm-4 am-form-label am-text-sm">旧密码:</label>
          <div class="am-u-sm-8">
            <input type="password" id="doc-ipt-pwd-2" placeholder="" ng-model="account.oldPasswd"/>
          </div>
        </div>

        <div class="am-form-group">
          <label for="doc-ipt-pwd-3" class="am-u-sm-4 am-form-label am-text-sm">新密码:</label>
          <div class="am-u-sm-8">
            <input type="password" id="doc-ipt-pwd-3" placeholder="" ng-model="account.newPasswd"/>
          </div>
        </div>

        <div class="am-form-group">
          <label for="doc-ipt-pwd-4" class="am-u-sm-4 am-form-label am-text-sm">确认新密码:</label>
          <div class="am-u-sm-8">
            <input type="password" id="doc-ipt-pwd-4" placeholder="" ng-model="account.reNewPasswd"/>
          </div>
        </div>


        <div class="am-form-group">
          <div class="am-u-sm-3 am-u-sm-offset-9">
            <button type="submit" class="am-btn am-btn-primary" ng-click="validate() && confirm()">确认</button>
          </div>
        </div>
      </form>
    </div>


  </div>



</div>
