<style>
  .fabric-detail-padding {
    padding: 40px;
  }
</style>
<div class="admin-content">

  <div class="am-g am-u-sm-12">
    <div class="am-u-sm-12">
      <ol class="am-breadcrumb">
        <li><a ui-sref="provider.moreManage.fixPWD()">其他管理</a></li>
        <li class="am-active">变更汇率</li>
      </ol>
    </div>
  </div>


  <div class="am-g fabric-detail-padding">
    <legend><span class="am-text-secondary am-text-sm"></span></legend>
    <div class="am-u-sm-6" >
      <form class="am-form am-form-horizontal">
        <div class="am-form-group">
          <label for="doc-ipt-3" class="am-u-sm-4 am-form-label am-text-sm">当前汇率:</label>
          <div class="am-u-sm-8">
            <input type="text" id="doc-ipt-3" placeholder="" ng-disabled="true" ng-model="modalData.nowExchangeRate"/>
          </div>
        </div>

        <div class="am-form-group">
          <label class="am-u-sm-4 am-form-label am-text-sm">变更汇率:</label>
          <div class="am-u-sm-8">
            <input type="text" id="doc-ipt-2" placeholder="" ng-model="modalData.newExchangeRate"/>
          </div>
        </div>

        <div class="am-form-group">
          <div class="am-u-sm-3 am-u-sm-offset-9">
            <button type="submit" class="am-btn am-btn-primary" ng-click="validate() && confirm()">确认</button>
          </div>
        </div>
      </form>
    </div>


  </div>



</div>
