<style>
  .ngdialog.dialogcaseeditor .ngdialog-content
  {
    width : 1000px;
    height: auto;
    margin-top:-150px;
    padding-top:10px;
    background: #fff;
    border: 1px solid grey;
    /* for IE */
    filter:alpha(opacity=92);
    /* CSS3 standard */
    opacity:0.92;
  }
</style>
<div class="am-g">
  <legend><span class="am-text-primary am-text-lg">如何成为用户</span></legend>

  <pre class="am-text-lg" >

  “优裁”只对行业内人士开放。

  如果您是定制店、成衣品牌的定制部门、服装工厂、面料商、辅料商、配饰商等相关领域专业人士，都可以向我们提出申请，我们会提供账号和密码给您。

  申请方式：
  1、在官网首页注册。如果是定制店或者成衣品牌的定制部门，请选择定制商。如果是面辅料商、工厂、配饰等，请选择供应商。
  2、客服会进行相关审核，发送使用账号和密码给符合条件的申请者。
  3、相关事宜，请咨询我们的专业顾问。
     定制商负责人—王先生：18810362408。 
     供应商负责人—周先生：13910008223。

  </pre>




  <legend></legend>

</div>
