  <style>
    .footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
    }
    .tailor-padding {
      padding-left: 30px;
    }
    .qcode {
      position: fixed;
      left: 0px;
      bottom: 80px;
    }
    .qcode img {
      width: 135px;
      height: auto;
    }
  </style>
<header class="am-topbar am-topbar-fixed-top" >
  <div class="am-container" style="margin-left: 95px">
    <h1 class="am-topbar-brand" >
      <a href="" ng-click="login()"><img src="images/logo-new-layout.png" style="height: 80%"/></a>
    </h1>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li class="tailor-padding" ng-class="getLayoutClass('orderManage')"><a ui-sref="provider.orderManage.myOrderManage({STATUS: 'PAYED'})">订单管理</a></li>
        <li class="tailor-padding" ng-class="getLayoutClass('businessManage')"><a ui-sref="provider.businessManage.addProduct()">产品管理</a></li>
        <li class="tailor-padding" ng-class="getLayoutClass('customShop')" ><a href="" ng-click="customShopClicked()"><span  class="">定制合作商户</span></a></li>
        <li class="tailor-padding" ng-class="getLayoutClass('moreManage')"><a ui-sref="provider.moreManage.fixPWD()">其他管理</a></li>
      </ul>

      <div class="am-topbar-right" >
        <div style="padding-top: 15px;">
          欢迎你，<span class="am-text-secondary" style="display:inline-block;width:120px;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;vertical-align: middle" >{{shortName}}</span>
          <a href="" ng-if="shortName !== undefined" ng-click="logout()">
            <span class="am-icon-power-off am-text-warning" ></span><span class="am-text-warning">退出</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</header>

<div ui-view id="content"></div>

  <div class="qcode">
    <img src="images/qcode_provider.jpg" />
  </div>

  <footer class="footer">
    <p>
      <a href="" ng-click="aboutUs()">关于我们</a>
      <a href="" ng-click="howToJoin()" style="margin-left: 40px">申请用户</a>
      <a href="" ng-click="law()" style="margin-left: 40px">法律声明</a>
      <br/>
      京ICP备14033165号-4 / Powered by © 2016~2116 youcai6.com

    </p>
  </footer>
