<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar">
    <ul class="am-list admin-sidebar-list">
      <li><a class="am-text-md" ui-sref="provider.orderManage.myOrderManage({STATUS: 'PLACED'})" ><span class=""></span> <span ng-class="getClass('PLACED')"> 待确认运费信息</span></a></li>
      <li><a class="am-text-md" ui-sref="provider.orderManage.myOrderManage({STATUS: 'EXPRESSFEE_CONFIRMED'})" ><span class=""></span> <span ng-class="getClass('EXPRESSFEE_CONFIRMED')">  确认运费等待付款</span></a></li>

      <li><a class="am-text-md" ui-sref="provider.orderManage.myOrderManage({STATUS: 'PAYED'})" ><span class=""></span> <span ng-class="getClass('PAYED')"> 待发货</span></a></li>
      <li><a class="am-text-md" ui-sref="provider.orderManage.myOrderManage({STATUS: 'DELIVERED'})" ><span class=""></span> <span ng-class="getClass('DELIVERED')"> 已发货</span></a></li>
      <li><a class="am-text-md" ui-sref="provider.orderManage.myOrderManage({STATUS: 'SUCCESS'})" ><span class=""></span> <span ng-class="getClass('SUCCESS')"> 交易成功</span></a></li>
    </ul>
  </div>
  <!-- sidebar end -->

  <!-- content start -->

  <div ui-view></div>

  <!-- content end -->
</div>
